.main-container {
    margin-top: 20px;
}

.page-title {
    margin-top: 20px; 
}

.detailView-margin {
    margin-top: 20px;
}

.card {
    margin-top: 40px; 
}

.game-listview {
    height: 625px;
}

.ad-break {
    margin-top: 40px;
}

.listView-screenshot {
    height: 200px;
}

listView-img-placeholder {
    background-color: #eeeeee; 
    height: 200px;
}

.detailView-screenshot {
    margin-bottom: 20px;
}

.pagination {
    margin-top: 20px; 
}

.publisher-listview-container {
    margin-top: 30px;
}
