{% extends 'base.html' %}

{% block page-title %}{{ page_title }}{% endblock %}

{% block main-content %}
    <div class='row detailView-margin'>
        <div class='col-sm-8'>
            <h1><%= title %></h1 >
            <p class="detail-year-released">Released - <%= year_released %><p>
            <p class="detail-publisher-and-date font-weight-light">Publisher - <a href='/#publisher/<%= publisher.slug %>'><%= publisher.name %></a></p>
            <p class='detail-genre'>Genre - <a href='/#genre/<%= genre.slug %>'><%= genre.name %></a></p>
            <!-- p class="detail-user-rating">User Rating - <%= user_rating %></p -->
            <p><%= long_description %></p>
            <h5>Download From</h5>
            <% if (download_locations.length == 0) { %>
                <p>Sorry, we don't have links for this game yet. Please check back later.</p>
            <% } %>
            <ul>
                <% _.each(download_locations, function(download_location) { %>
                    <li><p class='download-location'><a href='{{ MEDIA_URL }}<%= download_location.href %>'><%= download_location.name %></a></p></li>
                <% }); %>
            </ul>
        </div>
        <div class='col-sm-4'>
            <% if (screenshots.length == 0) { %>
                <img class='detailView-screenshot' width=320 height=200 src="{{ MEDIA_URL }}<%= thumbnail_src %>" alt="<%= title %> screenshot">
            <% } %>
            <% _.each(screenshots, function(screenshot) { %>
                <img class='detailView-screenshot' width=320 height=200 src="{{ MEDIA_URL }}<%= screenshot.img_src %>" alt="<%= title %> screenshot">
            <% }); %>  
        </div>
    </div>
{% endblock %}        