{% extends 'base.html' %}

{% block page-title %}{{ dosgame.title }}{% endblock %}

{% block main-content %}
    <div class='row detailView-margin'>
        <div class='col-sm-8'>
            <h1>{{ dosgame.title }}</h1 >
            <p class="detail-year-released">Released - {{ dosgame.year_released }}<p>
            <p class="detail-publisher-and-date font-weight-light">Publisher - <a href='/publisher/{{ dosgame.publisher.slug }}'>{{ dosgame.publisher }} </a></p>
            <p class='detail-genre'>Genre - <a href='/genre/{{ dosgame.genre.slug }}'>{{ dosgame.genre }}</a></p>
            <!-- p class="detail-user-rating">User Rating - {{ dosgame.user_rating }}</p -->
            <p>
                {% autoescape off %}
                    {{ dosgame.long_description }}
                {% endautoescape %}</p>

            <h5>Download From</h5>
            {% if not dosgame.download_locations.all %}
                <p>Sorry, we don't have links for this game yet. Please check back later.</p>
            {% else %}
            <ul>
                {% for download_location in dosgame.download_locations.all %}
                    <li><p class='download-location'><a href='{{ MEDIA_URL }}{{ download_location.href }}'>{{ download_location.name }}</a></p></li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class='col-sm-4'>
            {% if not dosgame.screenshots.all %}
                <img class='detailView-screenshot' width=320 height=200 src="{{ MEDIA_URL }}{{ dosgame.thumbnail_src }}" alt="{{ dosgame.title }} screenshot">
            {% else %}
                {% for screenshot in dosgame.screenshots.all%}
                    <img class='detailView-screenshot' width=320 height=200 src="{{ MEDIA_URL }}{{ screenshot.img_src }}" alt="{{ dosgame.title }} screenshot">
                {% endfor %}
            {% endif %}  
        </div>
    </div>
{% endblock %}        